<div class="container">
        <div fxLayout="row" fxLayoutAlign="center none">

            <div fxFlex="75%" fxFlex.md="95%" fxFlex.sm="95%" fxFlex.xs="95%">
                <h1 class="title-form">Pokémon</h1>
                <h3 class="subtitle-form">Selecciona 3 Pokémon para que sean parte de tu equipo</h3>

                <mat-form-field class="full-width" appearance="fill">
                    <input matInput placeholder="Búscar por índice, nombre...">
                  </mat-form-field>

                <div class="content">
                    <div fxLayout="row wrap">
                        <div fxFlex="30%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%" fxLayoutAlign="center none"
                            *ngFor="let num of [1,2,3,4,5,6,7,8,9]">
                            <div class="card-pokemon">
                                <img class="img-pokemon"
                                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png">
                                <div class="pokemon-name img-pokemon" fxLayoutAlign="space-around center"  >
                                    <span fxFlex="10%">#001</span>
                                    <span fxFlex="40%">Bulbasur</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>