.password-rules .mat-divider {
    position: unset !important;
}
.container{
    padding-top: 20px;
}

.title-form {
    width: 349px;
    height: 48px;
    font-weight: 400px;
    font-size: 30px;
}

.subtitle-form {
    height: 54px;
    font-weight: 400;
    font-size: 18px;
    padding: 0;
    display: flex;
    align-items: center;
    color: #868686;
    flex: none;
    order: 1;
}

.card-pokemon {
    background: #F2F2F2;
    border-radius: 20px;
    width: 164px;
    height: 110px;
    margin-top: 50px;
}

.active {
    background: #FFC600;
}

.card-pokemon:hover {
    background-color: #e6e6e6;
}

.img-pokemon {
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -40px;
}

.pokemon-container {
    padding-bottom: 40px;
}

.pokemon-name {
    color: white;
    padding: 6px 15px;
    font-size: 12px;
    font-weight: bold;
    background: #01426A;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    width: 150px;
}

mat-form-field {
    border-radius: 40px !important;
}

