<div class="rectangle">
    <h3 class="rectangle-title">Imágen perfil</h3>
    <div class="avatar">
        <mat-icon class="icon-avatar">person</mat-icon>
    </div>
    <div class="info-profile">
        <p class="info-profile-title">
            Pasatiempo:
        </p>
        <p>Jugar Videojuegos</p>
    </div>
    <div class="info-profile">
        <p class="info-profile-title">
            Edad:
        </p>
        <p>25 Años</p>
    </div>
    <div class="info-profile">
        <p class="info-profile-title">
            DUI:
        </p>
        <p>05402464-0</p>
    </div>
</div>