
  <div class="container">
      <form>
          
          <div fxLayout="row" fxLayoutAlign="center none">
              
              <div fxFlex="45%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
              <h1 class="title-form">Tu información</h1>
              <h3 class="subtitle-form">Completa la siguiente información para completar tu perfil</h3>
    
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nombre*</mat-label>
                <input matInput placeholder="Nombre">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
    
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Pasatiempo favorito</mat-label>
                <input matInput placeholder="Nombre">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
    
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Cumpleaños*</mat-label>
                <input matInput placeholder="Nombre">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
    
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>DUI*</mat-label>
                <input matInput placeholder="Nombre">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
    
              <div fxLayout="row" fxLayoutAlign="center center">
                  <button fxFlex="60%" mat-raised-button color="primary">Continuar</button>
              </div>
      
          </div>
      
        </div>
      
      </form>
  </div>
  